@charset "UTF-8";
.projectBlock {
  width: 120rem;
  height: 33.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.75rem 3.125rem;
  position: relative;
}
.projectBlock .topLine {
  position: absolute;
  top: 0;
  left: 0;
}
.projectBlock .inline-block {
  width: 113.75rem;
  height: 26.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0;
}
.projectBlock .inline-block .textBlock {
  width: 56.875rem;
  height: 26.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.75rem;
}
.projectBlock .inline-block .textBlock span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
}
.projectBlock .inline-block .textBlock span svg {
  width: 1.125rem;
  height: 1.125rem;
  margin-top: 0.25rem;
}
.projectBlock .inline-block .textBlock span p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 1.125rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 130%;
  color: #0a0a0a;
}
.projectBlock .inline-block .textBlock h2 {
  font-weight: 400;
  font-size: 1.875rem;
  width: 26.4375rem;
  line-height: 120%;
  letter-spacing: -0.0625rem;
  color: #0a0a0a;
}
.projectBlock .inline-block .textBlock .price {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 130%;
  color: #0a0a0a;
}
.projectBlock .inline-block .Swiper {
  width: 56.875rem;
  height: 26.25rem;
}
.projectBlock .inline-block .Swiper img {
  width: 56.875rem;
  height: 26.25rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.projectBlock .inline-block .Swiper .swiper-pagination-bullet {
  border-radius: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background: var(--swiper-pagination-bullet-inactive-color, #FFFBFC);
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 0.6rem));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 0.6rem));
}
.projectBlock .LineBottom {
  position: absolute;
  top: 33.75rem;
  left: 0;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute !important;
  top: 24rem !important;
  left: 1.875rem !important;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  height: 1.125rem !important;
  gap: 0.4125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 1.875rem;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute !important;
  top: 50% !important;
  -webkit-transform: translateY(-50%) !important;
      -ms-transform: translateY(-50%) !important;
          transform: translateY(-50%) !important;
  width: 3.375rem !important;
  height: 3.375rem !important;
  background: #FFFBFC !important;
  border-radius: 62.4375rem !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1) !important;
}

.swiper-button-next {
  right: 1.875rem !important;
  top: 24.5rem !important;
  left: auto !important;
}

.swiper-button-prev {
  left: 47.3125rem !important;
  top: 24.5rem !important;
  right: auto !important;
}

/* Иконки */
.swiper-button-next::after {
  content: "" !important;
  background: url(../../../public/svg/Arrow-right.svg) center/contain no-repeat !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.swiper-button-prev::after {
  content: "" !important;
  background: url(../../../public/svg/Arrow-left.svg) center/contain no-repeat !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
}