.projectBlock {
  width: 120rem;
  height: 33.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.75rem 3.125rem;
  position: relative;
}
.projectBlock .topLine {
  position: absolute;
  top: 0;
  left: 0;
}
.projectBlock .inline-block {
  width: 113.75rem;
  height: 26.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0;
}
.projectBlock .inline-block .textBlock {
  width: 56.875rem;
  height: 26.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.75rem;
}
.projectBlock .inline-block .textBlock span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
}
.projectBlock .inline-block .textBlock span svg {
  width: 1.125rem;
  height: 1.125rem;
  margin-top: 0.25rem;
}
.projectBlock .inline-block .textBlock span p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 1.125rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 130%;
  color: #0a0a0a;
}
.projectBlock .inline-block .textBlock h2 {
  font-weight: 400;
  font-size: 1.875rem;
  width: 26.4375rem;
  line-height: 120%;
  letter-spacing: -0.0625rem;
  color: #0a0a0a;
}
.projectBlock .inline-block .textBlock .price {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 130%;
  color: #0a0a0a;
}
.projectBlock .inline-block .Swiper {
  width: 56.875rem;
  height: 26.25rem;
}
.projectBlock .inline-block .Swiper img {
  width: 56.875rem;
  height: 26.25rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.projectBlock .inline-block .Swiper .swiper-pagination-bullet {
  border-radius: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background: var(--swiper-pagination-bullet-inactive-color, #FFFBFC);
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 0.5rem));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 0.5rem));
}
.projectBlock .LineBottom {
  position: absolute;
  top: 33.75rem;
  left: 0;
}

:root {
  --swiper-theme-color: #FFFBFC !important;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  left: 1.875rem;
  bottom: 1.875rem;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  gap: 0.4125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 1.875rem;
}